{% load static %}
<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Carniceria</title>
    {% endblock %}
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
    
    <link rel="stylesheet" href="/static/css/style.css">
    
   
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
</head>
<body>
    <div class="sidebar">
        <div class="logo">Administrador</div>
        <ul>
            <li><a href="#"><i class="fas fa-home"></i> Inicio</a></li>
            <li><a href="/ventas"><i class="fas fa-chart-line"></i> Ventas</a></li>
            <li><a href="/productos"><i class="fas fa-boxes"></i> Productos</a></li>
            <li><a href="/documentos"><i class="fa fa-file" ></i> Documentos</a></li>
            <li><a href="#"><i class="fas fa-chart-bar"></i> Estadistticas</a></li>
            <li><a href="/clientes"><i class="fas fa-user"></i> Clientes</a></li>
            <li><a href="#"><i class="fas fa-cog"></i> Configuración</a></li>
            <li><a href="#"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a></li>
        </ul>
    </div>
<section class="home-section">
    {% block body %}
    {% endblock %}
</section>

<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>
